@charset "UTF-8";
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  letter-spacing: 0.08em;
  color: color_black01;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.wrap {
  background-color: #C4CCEB;
}

.header {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .inner img {
  margin-right: 14px;
}

.header .inner-txt {
  font-size: 2.0rem;
  font-family: fot-tsukubrdgothic-std,sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fv {
  width: 80vw;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 6vw;
}

@media only screen and (max-width: 767px) {
  .fv {
    max-width: 400px;
  }
}

.fv-title {
  display: inline-block;
  font-size: 8rem;
  font-family: fot-tsukubrdgothic-std,sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 2;
}

@media only screen and (max-width: 980px) {
  .fv-title {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 767px) {
  .fv-title {
    font-size: 2.6rem;
  }
}

.fv-title span {
  display: inline-block;
  margin: 1vw 0;
  padding: 1vw 2vw;
  background-color: #FFFFFF;
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5vw 0;
}

@media only screen and (max-width: 767px) {
  .arrow {
    margin: 25vw 0 0;
  }
}

.arrow i {
  font-size: 9rem;
}

.score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.score-title {
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  padding: 10vw 0;
}

@media only screen and (max-width: 767px) {
  .score-title {
    font-size: 1.9rem;
  }
}

.score-title:before, .score-title:after {
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(../img/wad_of_bills.png);
  background-size: contain;
  vertical-align: middle;
}

@media only screen and (max-width: 767px) {
  .score-title:before, .score-title:after {
    width: 35px;
    height: 35px;
  }
}

.score-title:before {
  margin-right: 20px;
}

.score-title:after {
  margin-left: 20px;
}

.score .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90vw;
  max-width: 1000px;
  padding: 8% 0;
  border: solid 15px #FFFFFF;
  border-radius: 40px;
}

@media only screen and (max-width: 767px) {
  .score .box {
    border: solid 10px #FFFFFF;
  }
}

.score .box-txt {
  width: 80%;
  margin-top: 5vw;
  font-size: 3rem;
  line-height: 1.7;
  font-family: fot-tsukubrdgothic-std,sans-serif;
  font-weight: 700;
  font-style: normal;
}

@media only screen and (max-width: 767px) {
  .score .box-txt {
    font-size: 1.8rem;
    margin-top: 0;
    padding: 10% 0;
  }
}

.score .inner {
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .score .inner {
    width: 70%;
  }
}

.score .inner-result._number {
  font-size: 16rem;
  line-height: 1;
  font-family: fot-tsukubrdgothic-std,sans-serif;
  font-weight: 700;
  font-style: normal;
}

@media only screen and (max-width: 767px) {
  .score .inner-result._number {
    font-size: 8rem;
  }
}

.score .inner-result._chara {
  font-size: 10rem;
  font-family: fot-tsukubrdgothic-std,sans-serif;
  font-weight: 700;
  font-style: normal;
}

@media only screen and (max-width: 767px) {
  .score .inner-result._chara {
    font-size: 5rem;
  }
}

.score .inner img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 20px;
}

.index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 0;
}

.index .outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80vw;
  max-width: 1000px;
}

.index .outer .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 767px) {
  .index .outer .box img {
    display: none;
  }
}

.index .outer .box img._1 {
  margin-left: 5vw;
}

.index .outer .box img._2 {
  margin-left: 10vw;
}

.index .outer-txt {
  font-size: 3rem;
  font-family: fot-tsukubrdgothic-std,sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 3vw 0;
}

@media only screen and (max-width: 767px) {
  .index .outer-txt {
    font-size: 1.6rem;
  }
}

.index .outer-txt._1 {
  margin-left: 10vw;
}

@media only screen and (max-width: 375px) {
  .index .outer-txt._1 {
    margin-left: 0;
  }
}

.index .outer-txt._3 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media only screen and (max-width: 375px) {
  .index .outer-txt._3 {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.index .outer-txt._4 {
  display: inline-block;
}

.index .outer-txt._5 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media only screen and (max-width: 375px) {
  .index .outer-txt._5 {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.index .outer-txt._6 {
  display: inline-block;
  margin-left: 10vw;
}

@media only screen and (max-width: 375px) {
  .index .outer-txt._6 {
    margin-left: 0;
  }
}

.bookcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 5vw;
}

@media only screen and (max-width: 767px) {
  .bookcontent {
    padding-bottom: 0;
  }
}

.bookcontent .outer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90vw;
  max-width: 1200px;
}

@media only screen and (max-width: 767px) {
  .bookcontent .outer {
    width: 100vw;
  }
}

.bookcontent .outer-title {
  font-size: 8rem;
  padding: 50px 0;
  font-family: fot-tsukubrdgothic-std,sans-serif;
  font-weight: 700;
  font-style: normal;
}

@media only screen and (max-width: 980px) {
  .bookcontent .outer-title {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 767px) {
  .bookcontent .outer-title {
    font-size: 2.3rem;
  }
}

.bookcontent .outer-title:before, .bookcontent .outer-title:after {
  position: absolute;
  width: 100px;
  content: '';
  border: solid 6px #FFFFFF;
  border-radius: 10px;
  background-color: #FFFFFF;
}

@media only screen and (max-width: 980px) {
  .bookcontent .outer-title:before, .bookcontent .outer-title:after {
    width: 75px;
    border: solid 5px #FFFFFF;
  }
}

@media only screen and (max-width: 767px) {
  .bookcontent .outer-title:before, .bookcontent .outer-title:after {
    width: 40px;
    border: solid 3px #FFFFFF;
  }
}

.bookcontent .outer-title:before {
  -webkit-transform: rotate(-57deg);
          transform: rotate(-57deg);
  top: 140px;
  right: 10px;
}

@media only screen and (max-width: 980px) {
  .bookcontent .outer-title:before {
    top: 100px;
    right: 100px;
  }
}

@media only screen and (max-width: 767px) {
  .bookcontent .outer-title:before {
    top: 80px;
    right: 10%;
  }
}

.bookcontent .outer-title:after {
  -webkit-transform: rotate(57deg);
          transform: rotate(57deg);
  top: 140px;
  left: -10px;
}

@media only screen and (max-width: 980px) {
  .bookcontent .outer-title:after {
    top: 100px;
    left: 100px;
  }
}

@media only screen and (max-width: 767px) {
  .bookcontent .outer-title:after {
    top: 80px;
    left: 10%;
  }
}

.bookcontent .outer .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
}

@media only screen and (max-width: 767px) {
  .bookcontent .outer .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.bookcontent .outer .inner img {
  width: 33%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media only screen and (max-width: 767px) {
  .bookcontent .outer .inner img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 90%;
    max-width: 400px;
  }
}

.bookcontent .outer .inner .box {
  width: 67%;
  padding: 0 4vw;
}

@media only screen and (max-width: 767px) {
  .bookcontent .outer .inner .box {
    width: 90%;
    padding: 10% 0 0 0;
  }
}

.bookcontent .outer .inner .box-txt {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: .2rem;
  line-height: 1.6;
  margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {
  .bookcontent .outer .inner .box-txt {
    font-size: 1.6rem;
  }
}

.bookcontent .outer .inner .box-btn {
  display: block;
  margin: 20% auto;
  width: 60%;
  padding: 15px 0;
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
  background-color: #FFFFFF;
  text-align: center;
  border-radius: 45px;
  -webkit-box-shadow: 8px 8px #000000;
          box-shadow: 8px 8px #000000;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

@media only screen and (max-width: 767px) {
  .bookcontent .outer .inner .box-btn {
    width: 100%;
    padding: 10px 0;
  }
}

.bookcontent .outer .inner .box-btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10vw 0;
  background-color: #FFFFFF;
}

@media only screen and (max-width: 767px) {
  .member {
    padding: 20vw 0;
  }
}

.member .outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80vw;
  max-width: 1000px;
}

@media only screen and (max-width: 767px) {
  .member .outer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.member .outer .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

@media only screen and (max-width: 767px) {
  .member .outer .inner {
    width: 100%;
  }
}

.member .outer .inner img {
  padding: 30px 0;
}

@media only screen and (max-width: 767px) {
  .member .outer .inner img {
    width: 80%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.member .outer .inner-name {
  font-size: 3.2rem;
  font-weight: bold;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 10px;
}

.member .outer .inner-txt {
  padding: 20px 0;
  font-weight: bold;
  line-height: 1.5;
}

.member .outer .inner .box {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 20px 0;
}

.member .outer .inner .box a {
  display: block;
  padding: 10px 0;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .member .outer .inner:last-of-type {
    margin-top: 20vw;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vw;
  max-height: 200px;
  min-height: 80px;
}

.footer-txt {
  display: inline-block;
  padding: 0 15px;
}
/*# sourceMappingURL=style.css.map */