@charset "UTF-8";
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  letter-spacing: 0.08em;
  color: color_black01;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.wrap {
  background-color: #C4CCEB;
}

.header {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .inner-txt {
  font-size: 2.0rem;
  font-family: fot-tsukubrdgothic-std,sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fv {
  width: 80vw;
  max-width: 1000px;
  margin: 0 auto;
}

.fv-title {
  font-family: fot-tsukubrdgothic-std,sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: #FFFFFF;
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.score-title {
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
}

.score-title:before, .score-title:after {
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(../img/wad_of_bills.png);
  background-size: contain;
  vertical-align: middle;
}

.score .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  max-width: 1000px;
  border: solid 5px #FFFFFF;
  border-radius: 5px;
}

.score .box-txt {
  font-size: 3rem;
  font-family: fot-tsukubrdgothic-std,sans-serif;
  font-weight: 700;
  font-style: normal;
}

.score .inner-result._number {
  font-size: 16rem;
  font-family: fot-tsukubrdgothic-std,sans-serif;
  font-weight: 700;
  font-style: normal;
}

.score .inner-result._chara {
  font-size: 10rem;
  font-family: fot-tsukubrdgothic-std,sans-serif;
  font-weight: 700;
  font-style: normal;
}

.index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.index .outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80vw;
  max-width: 1000px;
}

.index .outer .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index .outer-txt {
  font-size: 3rem;
  font-family: fot-tsukubrdgothic-std,sans-serif;
  font-weight: 700;
  font-style: normal;
}

.index .outer-txt._3 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.index .outer-txt._4 {
  display: inline-block;
}

.index .outer-txt._5 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.index .outer-txt._6 {
  display: inline-block;
}

.index .outer img {
  display: inline;
}

.bookcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bookcontent .outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  max-width: 1000px;
}

.bookcontent .outer-title {
  font-size: 8rem;
  font-family: fot-tsukubrdgothic-std,sans-serif;
  font-weight: 700;
  font-style: normal;
}

.bookcontent .outer .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bookcontent .outer .inner .box-txt {
  font-size: 2rem;
}

.bookcontent .outer .inner .box-btn {
  width: 400px;
  border: none;
  border-radius: 10px;
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
}
/*# sourceMappingURL=style.css.map */