@charset "UTF-8";
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  letter-spacing: 0.08em;
  color: color_black01;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 3rem;
  }
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.wrap {
  background-color: #C4CCEB;
}

.header {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .inner img {
  margin-right: 14px;
}

.header .inner-txt {
  font-size: 2.0rem;
  font-family: fot-tsukubrdgothic-std,sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fv {
  width: 80vw;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 100px;
}

@media only screen and (max-width: 767px) {
  .fv {
    padding-top: 0px;
  }
}

.fv-title {
  display: inline-block;
  font-size: 8rem;
  font-family: fot-tsukubrdgothic-std,sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 2;
  background-color: #FFFFFF;
}

@media only screen and (max-width: 767px) {
  .fv-title {
    font-size: 2.6rem;
  }
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.arrow i {
  font-size: 6rem;
}

.score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.score-title {
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  padding: 100px 0;
}

@media only screen and (max-width: 767px) {
  .score-title {
    font-size: 1.9rem;
  }
}

.score-title:before, .score-title:after {
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(../img/wad_of_bills.png);
  background-size: contain;
  vertical-align: middle;
}

@media only screen and (max-width: 767px) {
  .score-title:before, .score-title:after {
    width: 35px;
    height: 35px;
  }
}

.score-title:before {
  margin-right: 20px;
}

.score-title:after {
  margin-left: 20px;
}

.score .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  max-width: 1000px;
  padding: 50px 100px;
  border: solid 10px #FFFFFF;
  border-radius: 20px;
}

.score .box-txt {
  font-size: 3rem;
  margin-top: 20px;
  font-family: fot-tsukubrdgothic-std,sans-serif;
  font-weight: 700;
  font-style: normal;
}

@media only screen and (max-width: 767px) {
  .score .box-txt {
    font-size: 1.8rem;
  }
}

.score .inner-result._number {
  font-size: 16rem;
  font-family: fot-tsukubrdgothic-std,sans-serif;
  font-weight: 700;
  font-style: normal;
}

@media only screen and (max-width: 767px) {
  .score .inner-result._number {
    font-size: 8rem;
  }
}

.score .inner-result._chara {
  font-size: 10rem;
  font-family: fot-tsukubrdgothic-std,sans-serif;
  font-weight: 700;
  font-style: normal;
}

@media only screen and (max-width: 767px) {
  .score .inner-result._chara {
    font-size: 5rem;
  }
}

.index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 0;
}

.index .outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80vw;
  max-width: 1000px;
}

.index .outer .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 767px) {
  .index .outer .box img {
    display: none;
  }
}

.index .outer .box img._1 {
  margin-left: 5vw;
}

.index .outer .box img._2 {
  margin-left: 10vw;
}

.index .outer-txt {
  font-size: 3rem;
  font-family: fot-tsukubrdgothic-std,sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 30px 0;
}

@media only screen and (max-width: 767px) {
  .index .outer-txt {
    font-size: 1.6rem;
  }
}

.index .outer-txt._1 {
  margin-left: 10vw;
}

.index .outer-txt._3 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.index .outer-txt._4 {
  display: inline-block;
}

.index .outer-txt._5 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.index .outer-txt._6 {
  display: inline-block;
  margin-left: 10vw;
}

.bookcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 150px;
}

.bookcontent .outer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  max-width: 1200px;
}

.bookcontent .outer-title {
  font-size: 8rem;
  padding: 50px 0;
  font-family: fot-tsukubrdgothic-std,sans-serif;
  font-weight: 700;
  font-style: normal;
}

.bookcontent .outer-title span:before, .bookcontent .outer-title span:after {
  position: absolute;
  width: 100px;
  content: '';
  border: solid 6px #FFFFFF;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.bookcontent .outer-title span:before {
  -webkit-transform: rotate(-57deg);
          transform: rotate(-57deg);
  top: 140px;
  right: 10px;
}

.bookcontent .outer-title span:after {
  -webkit-transform: rotate(57deg);
          transform: rotate(57deg);
  top: 140px;
  left: -10px;
}

.bookcontent .outer .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
}

.bookcontent .outer .inner img {
  width: 33%;
}

.bookcontent .outer .inner .box {
  width: 67%;
  padding: 0 3vw;
}

.bookcontent .outer .inner .box-txt {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: .2rem;
  line-height: 1.6;
  margin-bottom: 30px;
}

.bookcontent .outer .inner .box-btn {
  display: block;
  margin: 100px auto;
  width: 60%;
  padding: 15px 0;
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
  background-color: #FFFFFF;
  text-align: center;
  border-radius: 45px;
  -webkit-box-shadow: 8px 8px #000000;
          box-shadow: 8px 8px #000000;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.bookcontent .outer .inner .box-btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFFFFF;
}

.member .outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80vw;
  max-width: 1000px;
}

.member .outer .inner {
  width: 50%;
}

.member .outer .inner-name {
  font-size: 3.2rem;
}

.member .outer .inner .box a {
  display: block;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-txt {
  display: inline-block;
}
/*# sourceMappingURL=style.css.map */