*, *::before, *::after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.2rem;
    letter-spacing: 0.08em;
    color: color_black01;
    font-family: $font-yugothic;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
ul li {
    list-style-type: none;
}
img {
    max-width: 100%;
}

