.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vw;
    max-height: 200px;
    min-height: 80px;

    &-txt {
        display: inline-block;
        padding: 0 15px;
    }
}