.fv {
    width: 80vw;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 5vw;

    @include media("sp") {
        max-width: 500px;
    }

    &-title {
        display: inline-block;
        font-size: 6vw;
        @include adobefont-chikumaru;
        line-height: 2;

        @include media("xl") {
            font-size: 80px;
        }
        @include media("xs") {
            font-size: 2.6rem;
        }
        
        span {
            display: inline-block;
            margin: 1vw 0;
            padding: 1vw 2vw;
            background-color: $color_white01;
            
            @include media("sp") {
                padding: 2vw 2vw;
            }
        }
    }
}