.fv {
    width: 80vw;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 100px;

    @include media("sp") {
        padding-top: 0px;
    }

    &-title {
        display: inline-block;
        font-size: 8rem;
        @include adobefont-chikumaru;
        line-height: 2;
        background-color: $color_white01;

        @include media("sp") {
            font-size: 2.6rem;
        }
    }
}