.header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    .inner {
        display: flex;
        align-items: center;

        img {
            margin-right: 14px;
        }
        
        &-txt {
            font-size: 2.0rem;
            @include adobefont-chikumaru;
        }
    }
}