.score {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
        font-size: 50px;
        font-family: $font-montserrat;
        padding: 10vw 0;
        @include media("sp") {
            font-size: 1.9rem;
            // padding-top: 0;
        }
    }
    &-title:before, &-title:after {
        content: '';
        display: inline-block;
        width: 50px;
        height: 50px;
        background-image: url(../img/wad_of_bills.png);
        background-size: contain;
        vertical-align: middle;
        @include media("sp") {
            width: 35px;
            height: 35px;
        }
    }
    &-title:before {
        margin-right: 20px;
    }
    &-title:after {
        margin-left: 20px;
    }
    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90vw;
        max-width: 1000px;
        padding: 6% 0;
        border: solid 15px $color_white01;
        border-radius: 40px;

        &-txt {
            width: 80%;
            margin-top: 5vw;
            font-size: 3rem;
            line-height: 1.7;
            @include adobefont-chikumaru;
            @include media("sp") {
                font-size: 1.8rem;
                margin-top: 0;
                padding: 10% 0;
            }
        }

    }

    .inner {
        text-align: center;

        @include media("sp") {
            width: 70%;
        }

        &-result._number {
            font-size: 16rem;
            line-height: 1;
            @include adobefont-chikumaru;
            @include media("sp") {
                font-size: 8rem;
                }
            }
        &-result._chara {
            font-size: 10rem;
            @include adobefont-chikumaru;
            @include media("sp") {
                font-size: 5rem;
            }
        }
        img {
            object-fit: cover;
            height: 20px;
        }
    }
    // .inner:after {
    //     content: '';
    //     display: inline-block;
    //     width: 100%;
    //     height: 10px;
    //     background-image: url(../img/bg-slash.png);
    //     background-size: contain;
    //     vertical-align: middle;
    // }
}