.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;

    &-title {
        font-size: 50px;
        font-family: $font-montserrat;
    }
    &-title:before, &-title:after {
        content: '';
        display: inline-block;
        width: 50px;
        height: 50px;
        background-image: url(../img/wad_of_bills.png);
        background-size: contain;
        vertical-align: middle;
    }

    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80vw;
        max-width: 1000px;
        border: solid 5px $color_white01;
        border-radius: 5px;

        &-txt {
            font-size: 3rem;
            @include adobefont-chikumaru;
        }

    }

    .inner {
        &-result._number {
            font-size: 16rem;
            @include adobefont-chikumaru;
            }
        &-result._chara {
            font-size: 10rem;
            @include adobefont-chikumaru;
            }
    }
}